.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-items: center;
	border-radius: 16px;
}

.solid {
	padding: 4px 10px;
}

.outline {
	border-style: solid;
	border-width: 1.5px;
	padding: 2px 8px;
}

.danger {
	border-color: var(--error-color);
	color: var(--error-color);
	&.solid {
		background-color: var(--error-color-light);
	}
}

.warning {
	border-color: var(--warning-color-dark);
	color: var(--warning-color-dark);
	&.solid {
		background-color: var(--warning-color-light);
	}
}

.success {
	border-color: var(--success-color);
	color: var(--success-color-dark-2);
	&.solid {
		background-color: var(--grey-color-150);
		color: var(--grey-color-A400);
	}
}

.primary {
	border-color: var(--primary-color);
	color: var(--primary-color);
	&.solid {
		background-color: var(--blue-color-200);
	}
}

.secondary {
	border-color: var(--grey-color-950);
	color: var(--grey-color-950);
	&.solid {
		background-color: var(--grey-color-150);
	}
}
