.container {
	display: flex;
	align-items: center;
	gap: 24px;
}

.page-size-container {
	display: flex;
	gap: 8px;
	align-items: center;
}

.arrows {
	display: flex;
	gap: 16px;
	align-items: center;

	& > *:first-child {
		transform: rotate(90deg);
		cursor: pointer;
	}
	& > *:nth-child(2) {
		transform: rotate(-90deg);
		cursor: pointer;
	}
}

.disabled {
	opacity: 0.5;
}