@import '@/styles/mixins';

.container {
	display: flex;
	justify-content: space-between;
	padding: 32px 32px 16px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title {
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--grey-color-A400);
}

.subtitle {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--grey-color-850);
}

.extras {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@include screen-min-mobile {
		flex-direction: row;
	}
}
